<?xml version="1.0"?>
<!--XML-->
<launch>
    <!-- SETUP ARGUMENTS -->
    <!-- enable/disable rviz -->
    <arg name="rviz" default="true" />
    <!-- enable/disable calibration -->
    <arg name="calibrate" default="false"/>
    <!-- enable/disable slam -->
    <arg name="slam" default="false"/>
    <!-- locate camera in previously create map -->
    <arg name="slam_locate" default="false"/>
    <!-- filepath to map database for slam localisation -->
    <arg name="map_db" default=""/>

    <!-- SETUP ROBOT MODEL -->
    <!-- (robot model should be handelled by master) -->
    <param name="rd_i3dr_deimos" command="$(find xacro)/xacro '$(find i3dr_deimos)/urdf/deimos_scene.urdf.xacro'" />
    <arg name="use_tf_static" default="false"/>
    <node name="robot_state_publisher_deimos" pkg="robot_state_publisher" type="state_publisher">
        <remap from="robot_description" to="rd_i3dr_deimos"/>
        <param name="use_tf_static" value="$(arg use_tf_static)"/>
    </node>
    <!--<node pkg="tf" type="static_transform_publisher" name="camera_base_link"
        args="$(arg optical_rotate) deimos_depth_optical_frame camera_link 100" /> -->

    <!-- STEREO CAPTURE -->
    <include file="$(find i3dr_deimos)/launch/deimos_capture.launch">
        <arg name="camera_namespace" value="deimos"/>
        <arg name="device" value="/dev/video0"/>
        <arg name="exposure" default="15000" />
    </include>

    <!-- STEREO CALIBRATION -->
    <include if="$(arg calibrate)" file="$(find i3dr_stereo_camera)/launch/stereo_calibration.launch">
        <arg name="camera_namespace" value="deimos"/>
    </include>

    <!-- STEREO MATCHER -->
    <include file="$(find i3dr_stereo_camera)/launch/stereo_matcher.launch">
        <arg name="use_i3dr_matcher" value="false"/>

        <arg name="camera_namespace" value="deimos"/>
        <arg name="gui" value="true"/>
        <arg name="stereo_algorithm" value="0" />
        <arg name="min_disparity" value="-60" />
        <arg name="disparity_range" value="128" />
        <arg name="correlation_window_size" value="19" />
        <arg name="uniqueness_ratio" value="2" />
        <arg name="speckle_size" value="1000" />
    </include>

    <!-- STEREO REGISTRATOIN -->
    <include if="$(arg slam)" file="$(find i3dr_registration_localisation)/launch/stereo_localisation.launch">
        <arg name="localization" value="$(arg slam_locate)"/>
        <arg name="camera_namespace" value="deimos"/>
        <arg name="depth_odom" value="true"/>
        <arg name="disparity2Depth" default="true"/>
        <arg name="rgb_topic" value="/deimos/left/image_rect_color"/>
        <arg name="camera_info_topic" value="/deimos/left/camera_info"/>
        <arg name="depth_camera_info_topic" value="/deimos/left/camera_info"/>
        <arg name="base_link_frame" value="deimos_base_link"/>
        <arg name="ukf" value="false"/>
        <arg name="madgwick" value="false"/>
        <arg name="imu_topic" value="/deimos/imu_data"/>
        <!-- should be set to true if using SGBM as this takes longer to process -->
        <arg name="slow_processing" default="true"/>
    </include>

    <!-- DISPLAY -->
    <!-- run rviz with config file -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rivz" 
        args="-d $(find i3dr_deimos)/rviz/scene.rviz"/>

</launch>