[submodule "realsense"]
	path = i3dr_tools_ros_WS/src/i3dr_cameras/realsense-ros
	url = https://github.com/intel-ros/realsense.git

[submodule "universal_robot"]
	path = i3dr_tools_ros_WS/src/i3dr_robot_interface/universal_robot
	url = https://github.com/ros-industrial/universal_robot.git

[submodule "image_pipeline"]
	path = i3dr_tools_ros_WS/src/i3dr_cameras/image_pipeline
	url = https://github.com/i3drobotics/image_pipeline

[submodule "gscam"]
	path = i3dr_tools_ros_WS/src/i3dr_cameras/gscam
	url = https://github.com/i3drobotics/gscam.git

[submodule "pylon_camera"]
	path = i3dr_tools_ros_WS/src/i3dr_cameras/pylon_camera
	url = https://github.com/yasmeenel3sh/pylon_camera.git

[submodule "camera_control_msgs"]
	path = i3dr_tools_ros_WS/src/i3dr_cameras/camera_control_msgs
	url = https://github.com/magazino/camera_control_msgs.git

[submodule "tiscamera"]
	path = i3dr_tools_ros_WS/3rd_party/tiscamera
	url = https://github.com/TheImagingSource/tiscamera.git

[submodule "i3dr_stereo_camera-ros"]
	path = i3dr_tools_ros_WS/src/i3dr_cameras/i3dr_stereo_camera
	url = https://github.com/i3drobotics/i3dr_stereo_camera-ros.git

[submodule "i3dr_phobos_nuclear-ros"]
	path = i3dr_tools_ros_WS/src/i3dr_cameras/i3dr_phobos_nuclear
	url = https://github.com/i3drobotics/i3dr_phobos_nuclear-ros.git

[submodule "i3dr_phobos-ros"]
	path = i3dr_tools_ros_WS/src/i3dr_cameras/i3dr_phobos
	url = https://github.com/i3drobotics/i3dr_phobos-ros.git

[submodule "i3dr_deimos-ros"]
	path = i3dr_tools_ros_WS/src/i3dr_cameras/i3dr_deimos
	url = https://github.com/i3drobotics/i3dr_deimos-ros.git
	branch = beta

[submodule "i3dr_realsense-ros"]
	path = i3dr_tools_ros_WS/src/i3dr_cameras/i3dr_realsense
	url = https://github.com/i3drobotics/i3dr_realsense-ros.git

[submodule "python_tools"]
	path = python_tools
	url = https://github.com/i3drobotics/python_tools.git

[submodule "i3dr_pcl_tools-ros"]
	path = i3dr_tools_ros_WS/src/i3dr_registration_localisation/i3dr_pcl_tools
	url = https://github.com/i3drobotics/i3dr_pcl_tools-ros.git

[submodule "i3dr_rtabmap-ros"]
	path = i3dr_tools_ros_WS/src/i3dr_registration_localisation/i3dr_rtabmap
	url = https://github.com/i3drobotics/i3dr_rtabmap-ros.git

[submodule "i3dr_ur10-ros"]
	path = i3dr_tools_ros_WS/src/i3dr_robot_interface/i3dr_ur10
	url = https://github.com/i3drobotics/i3dr_ur10-ros.git

[submodule "opencv34"]
	path = i3dr_tools_ros_WS/3rd_party/opencv/opencv34/opencv
	url = https://github.com/opencv/opencv.git
	branch = 3.4.6

[submodule "opencv34_contrib"]
	path = i3dr_tools_ros_WS/3rd_party/opencv/opencv34/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
	branch = 3.4.6

[submodule "opencv4"]
	path = i3dr_tools_ros_WS/3rd_party/opencv/opencv4/opencv
	url = https://github.com/opencv/opencv.git
	branch = 4.1.0

[submodule "opencv2"]
	path = i3dr_tools_ros_WS/3rd_party/opencv/opencv2/opencv
	url = https://github.com/opencv/opencv.git
	branch = 2.4.13.6

[submodule "easy_handeye"]
	path = i3dr_tools_ros_WS/src/i3dr_robot_interface/easy_handeye
	url = https://github.com/IFL-CAMP/easy_handeye.git

[submodule "handeye_calib_camodocal"]s
	path = i3dr_tools_ros_WS/src/i3dr_robot_interface/handeye_calib_camodocal
	url = https://github.com/jhu-lcsr/handeye_calib_camodocal.git