<?xml version="1.0"?>
<!--XML-->
<launch>
    <!-- SETUP ARGUMENTS -->
    <!-- enable/disable rviz -->
    <arg name="rviz" default="false" />
    <!-- enable/disable calibration -->
    <arg name="calibrate" default="false"/>
    <arg name="slam" default="false"/>

    <!-- SETUP ROBOT MODEL -->
    <!-- (robot model should be handelled by master) -->
    <param name="rd_i3dr_phobos_nuclear" command="$(find xacro)/xacro '$(find i3dr_phobos_nuclear)/urdf/phobos_nuclear_scene.urdf.xacro'" />
    <arg name="use_tf_static" default="false"/>
    <node name="robot_state_publisher_phobos_nuclear" pkg="robot_state_publisher" type="state_publisher">
        <remap from="robot_description" to="rd_i3dr_phobos_nuclear"/>
        <param name="use_tf_static" value="$(arg use_tf_static)"/>
    </node>
    

    <!-- STEREO CAPTURE -->
    <include file="$(find i3dr_stereo_camera)/launch/stereo_capture.launch">
        <!-- Be sure to change this to your cameras serials -->
        <arg name="camera_namespace" value="phobos_nuclear"/>
        <arg name="camera_right_serial" value="31710260"/>
        <arg name="camera_left_serial" value="31710277"/>
        <arg name="exposure" value="6000"/>
        <arg name="gain" value="100"/>
    </include>

    <!-- STEREO CALIBRATION -->
    <include if="$(arg calibrate)" file="$(find i3dr_stereo_camera)/launch/stereo_calibration.launch">
        <arg name="camera_namespace" value="phobos_nuclear"/>
    </include>

    <!-- STEREO MATCHER -->
    <include file="$(find i3dr_stereo_camera)/launch/stereo_matcher.launch">
        <arg name="use_i3dr_matcher" value="false"/>

        <!-- enable/disable gui for stereo matching parameters -->
        <arg name="camera_namespace" value="phobos_nuclear"/>
        <arg name="gui" value="true"/>
        <arg name="stereo_algorithm" value="1" />
        <arg name="min_disparity" value="45" />
        <arg name="disparity_range" value="512" />
        <arg name="correlation_window_size" value="5" />
        <arg name="uniqueness_ratio" value="1" />
        <arg name="speckle_range" value="4" />
        <arg name="speckle_size" value="1000" />
    </include>

    <!-- STEREO REGISTRATOIN -->
    <include if="$(arg slam)" file="$(find i3dr_registration_localisation)/launch/stereo_localisation.launch">
        <!-- enable/disable gui for stereo matching parameters -->
        <arg name="camera_namespace" value="phobos_nuclear"/>
        <arg name="depth_odom" value="true"/>
        <arg name="disparity2Depth" default="true"/>
        <arg name="rgb_topic" value="/phobos_nuclear/left/image_rect_color"/>
        <arg name="camera_info_topic" value="/phobos_nuclear/left/camera_info"/>
        <arg name="depth_camera_info_topic" value="/phobos_nuclear/left/camera_info"/>
        <!-- should be set to true if using SGBM as this takes longer to process -->
        <arg name="slow_processing" default="true"/>
    </include>

    <!-- DISPLAY -->
    <!-- run rviz with config file -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rivz" 
        args="-d $(find i3dr_stereo_camera)/rviz/scene.rviz"/>

</launch>