<launch>
    <param name="robot_description_realsense_D435i" command="$(find xacro)/xacro --inorder '$(find i3dr_realsense)/urdf/realsense_D435i_scene.urdf.xacro'" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <remap from="robot_description" to ="robot_description_realsense_D435i" />
    </node>

    <arg name="gui" default="True" />
    <param name="use_gui" value="$(arg gui)"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find i3dr_realsense)/rviz/realsense_D435i_scene.rviz" required="true" />

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="serial_no" value="845112072407"/>
        <!--<arg name="filters" value="pointcloud,disparity"/>-->
        <arg name="tf_prefix" value="realsense_D435i"/>
        <arg name="align_depth" value="true"/>
        <arg name="linear_accel_cov" value="1.0"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
    </include>

    <node pkg="i3dr_deimos" type="generate_disparity" name="i3dr_disparity" output="screen">
        <remap from="/left/camera_info" to="/camera/infra1/camera_info"/>
        <remap from="/right/camera_info" to="/camera/infra2/camera_info"/>
        <remap from="/left/image_rect" to="/camera/infra1/image_rect_raw"/>
        <remap from="/right/image_rect" to="/camera/infra2/image_rect_raw"/>
        <param name="frame_id" value="realsense_D435i_left_ir_optical_frame"/>
        <param name="stereo_algorithm" value="0" />
        <param name="min_disparity" value="4" />
        <param name="disparity_range" value="128" />
        <param name="correlation_window_size" value="35" />
    </node>

    <node pkg="image_view" type="disparity_view" name="disparity_view">
        <remap from="image" to="/i3dr_disparity" />
    </node>

    <node pkg="i3dr_deimos" type="generate_point_cloud" name="i3dr_point_cloud" output="screen">
        <remap from="/left/image_rect" to="/camera/infra1/image_rect_raw"/>
    </node>
</launch>