<?xml version="1.0"?>
<!--XML-->
<launch>

    <!-- SETUP ARGUMENTS -->
    <arg name="gui" default="false"/>

    <!-- STEREO <MATCHER> -->
    <node ns="phobos" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen">
        <!-- Matcher Parameters -->
        <!-- see link below for details on matcher parameters -->
        <!-- http://wiki.ros.org/stereo_image_proc/Tutorials/ChoosingGoodStereoParameters -->
        <!-- algorithm 1: OpenCV block -->
        <!-- algorithm 2: OpenCV SGBM -->
        <param name="stereo_algorithm" value="0" />
        <param name="min_disparity" value="-210" />
        <param name="disparity_range" value="220" />
        <param name="correlation_window_size" value="19" />
        <param name="uniqueness_ratio" value="2" />
        <param name="speckle_size" value="500" />

        <!-- approximate sync used when cameras are not perfectly triggered in unison -->
        <param name="approximate_sync" value="true" />
        <param name="queue_size" value="50"/>
    </node>

    <!-- DISPLAY -->
    <!-- display phobos disparity image -->
    <node if="$(arg gui)" pkg="image_view" type="disparity_view" name="disparity_view" output="screen">
        <remap from="image" to="/phobos/disparity" />
    </node>

    <!-- run rqt control gui for adjusting stereo configuration -->
    <node if="$(arg gui)" pkg="rqt_reconfigure" type="rqt_reconfigure" name="display_controls" />

</launch>
