<launch>
    <!-- Launcher for each camera -->
    <!-- Create to make it easy to switch cameras -->
    <!-- (Note: Cannot run two or more cameras at the same time) -->

    <!-- launch files for each camera must follow the same structre -->
    <!-- Package name: i3dr_[camera name] -->
    <!-- Launch file: [package directory]/launch/[camera_name].launch> -->
    <!-- And must have an argument name 'slam' of type 'bool' -->

    <!-- Tested with the following packages -->
    <!-- [.] deimos -->
    <!-- [.] phobos_nuclear -->
    <!-- [.] realsense -->

    <!--<arg name="camera" default="deimos"/>-->
    <!--<arg name="camera" default="phobos_nuclear"/>-->
    <arg name="camera" default="realsense"/>
    <arg name="package" value="i3dr_$(arg camera)"/>
    <arg name="launch_file" value="$(eval find(arg('package')) + '/launch/' + arg('camera') + '.launch')"/>

    <include file="$(arg launch_file)">
        <arg name="slam" value="true"/>
    </include>
    
</launch>