<?xml version="1.0"?>
<!--XML-->
    <launch>

    <!-- SETUP ARGUMENTS -->
    <!-- Be sure to change this to your cameras serials -->
    <arg name="camera_right_serial" default="31710260"/>
    <arg name="camera_left_serial" default="31710277"/>
    <arg name="camera_namespace" default="stereo"/>
    <arg name="frame_width" default="2448"/>
    <arg name="frame_height" default="2048"/>
    <arg name="brightness" default="0"/>
    <arg name="exposure" default="10000"/>
    <arg name="gain" default="100"/>
    <arg name="exposure_auto" default="false"/>
    <arg name="gain_auto" default="false"/>
    <arg name="fps" default="1"/>
    <!-- 0=TIS, 1=Basler -->
    <arg name="cameratype" default="0"/>

    <!-- STEREO <MATCHER> -->
    <group ns="$(arg camera_namespace)">

        <!-- Start the pylon control node for each camera -->
        <node if="$(eval cameratype == 1)" ns="left" name="i3dr_stereo_camera_left_ctrl" pkg="pylon_camera" type="pylon_camera_node" output="screen">
            <param name="camera_frame" value="/$(arg camera_namespace)_depth_optical_frame"/>
            <param name="camera_info_url" value="file:///home/i3dr/.ros/camera_info/$(arg camera_namespace)/$(arg camera_namespace)_left.yaml"/>
            <param name="frame_rate" value="$(arg fps)"/>
            <param name="exposure" value="$(arg exposure)"/>
            <param name="gain" value="$(arg gain)"/>
            <param name="brightness" value="$(arg brightness)"/>
            <param name="exposure_auto" value="$(arg exposure_auto)"/>
            <param name="gain_auto" value="$(arg gain_auto)"/>
        </node>

        <node if="$(eval cameratype == 1)" ns="right" name="i3dr_stereo_camera_right_ctrl" pkg="pylon_camera" type="pylon_camera_node" output="screen">
            <param name="camera_frame" value="/$(arg camera_namespace)_depth_optical_frame"/>
            <param name="camera_info_url" value="file:///home/i3dr/.ros/camera_info/$(arg camera_namespace)/$(arg camera_namespace)_right.yaml"/>
            <param name="frame_rate" value="$(arg fps)"/>
            <param name="exposure" value="$(arg exposure)"/>
            <param name="gain" value="$(arg gain)"/>
            <param name="brightness" value="$(arg brightness)"/>
            <param name="exposure_auto" value="$(arg exposure_auto)"/>
            <param name="gain_auto" value="$(arg gain_auto)"/>
        </node>

        <!-- Start the tiscamera control node for each camera -->
        <!-- (optional) set inital camera properties using the parameters [Brightness/Exposure/Gain/Exposure_Auto/Gain_Auto] -->
        <!-- set camera properties using services from this node
             rosservice call /phobos/[left or right]/tiscam_[serial]_set_exposure_auto -->

        <node if="$(eval cameratype == 0)" ns="left" name="i3dr_stereo_camera_left_ctrl" pkg="i3dr_stereo_camera" type="tiscamera_ctrl.py" output="screen">
            <param name="camera_name" value="left"/>
            <param name="camera_info" value="file:///home/i3dr/.ros/camera_info/$(arg camera_namespace)/$(arg camera_namespace)_left.yaml"/>
            <param name="camera_frame" value="/$(arg camera_namespace)_depth_optical_frame"/>
            <param name="Serial" value="$(arg camera_left_serial)"/>
            <param name="Width" value="$(arg frame_width)"/>
            <param name="Height" value="$(arg frame_height)"/>
            <param name="FPS" value="$(arg fps)"/>
            <param name="Brightness" value="$(arg brightness)"/>
            <param name="Exposure" value="$(arg exposure)"/>
            <param name="Gain" value="$(arg gain)"/>
            <param name="Exposure_Auto" value="$(arg exposure_auto)"/>
            <param name="Gain_Auto" value="$(arg gain_auto)"/>
        </node>

        <node if="$(eval cameratype == 0)" ns="right" name="i3dr_stereo_camera_right_ctrl" pkg="i3dr_stereo_camera" type="tiscamera_ctrl.py" output="screen">
            <param name="camera_name" value="right"/>
            <param name="camera_info" value="file:///home/i3dr/.ros/camera_info/$(arg camera_namespace)/$(arg camera_namespace)_right.yaml"/>
            <param name="camera_frame" value="/$(arg camera_namespace)_depth_optical_frame"/>
            <param name="Serial" value="$(arg camera_right_serial)"/>
            <param name="Width" value="$(arg frame_width)"/>
            <param name="Height" value="$(arg frame_height)"/>
            <param name="FPS" value="$(arg fps)"/>
            <param name="Brightness" value="$(arg brightness)"/>
            <param name="Exposure" value="$(arg exposure)"/>
            <param name="Gain" value="$(arg gain)"/>
            <param name="Exposure_Auto" value="$(arg exposure_auto)"/>
            <param name="Gain_Auto" value="$(arg gain_auto)"/>
        </node>

    </group>

</launch>
